{% extends "base.html"%}
{% load humanize %}
{% load url from future %} 
   
{% block content %}

<script>
	var name = null;
	var cookie;
	var age = 0;
	var value;
	var randomnum;
	$(document).ready(function(){
        
          $("#userInfo").validate( {
            rules: { 
                name: "required",
                age: "required",  
                },
            messages: {
                name: "Please enter a name",
                age: "Please enter an age",
            }
          })
          $('#submit').click(function() {
          $("#userInfo").valid()
		console.log($("#name").val())
		console.log($("#age").val())
		name = $("#name").val()
		age = $("#age").val()
		randomnum = Math.floor(Math.random()*2)
		console.log("randomnum" + randomnum);
	  setCookie(name, age)
       });
       });
</script>
<body class="challengeModal-iframe-body">
		<div id="challengeModal1">
        	<div class="row">
                <div class="challengeModal-text">
                    <h2>cease.</h2>
                    <img class="challengeModal-line-vertical" class="hide-for-small"
			 src="{{ STATIC_URL }}img/charcoal-line-vertical.png"/>
                    <p>For most Americans, death exists as a distant reality. But even with the advances of
		    modern medicine, seven out of every 10 Americans still die from chronic disease.<br/><br/>
                    In many of these cases, patients must make difficult decisions about end-of-life treatment 
                    options as their long battles with illness draw to a close.
		    <strong>Do you know what choices you would make?</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="challengeModal-call">
                    <a href="#" id="challengeModal-begin-link">
			<img src="{{ STATIC_URL }}img/button-big-blue-light.png" alt="button"/>
                    <p><strong>Take the challenge</strong></p></a>
                    <p class="challengeModal-skip">
			<a class="challengeModal-skip-link" onclick="parent.closeModal()">
				Or, skip to the main site.</a></p>
                </div>
            </div>
            <div class="row">
            	<img class="challengeModal-border" src="{{ STATIC_URL }}img/heartbeat-border-bottom.png"
		     alt="border"/>
            </div>
        </div>
        <!--end challengeModal1-->
        <div id="challengeModal2" style="display:none;">
        	<div class="row">
                    <div class="challengeModal-logo">
                    	<h2>cease.</h2>
                        <img src="{{ STATIC_URL }}img/heartbeat-border-top.png"  class="hide-for-small"
			     alt="border"/>
                    </div>
            </div>
            <div class="row">
                <div class="challengeModal-text">
                    <p>Please enter your name and age in the boxes below:</p>
                    <form id="userInfo">
                      <div class="row">
                        <div class="small-10">
                          <div class="row">
                            <div class="small-3 columns">
                              <label for="right-label" class="right inline">Name:</label>
                            </div>
                            <div class="small-9 columns challengeModal-input">
                              <input type="text" name="name" class="right-label" value="molly" id="name" required="required" placeholder="Your name">
                            </div>
                          </div>
                          <div class="row">
                            <div class="small-3 columns">
                              <label for="right-label" class="right inline">Age:</label>
                            </div>
                            <div class="small-5 columns challengeModal-input">
                              <input type="text" name="age" class="right-label" id="age" value="12" required="required" placeholder="Your age">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <p>To begin the decision-making process, you will be randomly assigned one of three major
		    terminal illnesses in the United States. Click the next button to continue.</p>
                </div>
            </div>
            <div class="row">
                <div class="challengeModal-next">
   <!--what should the href be? Need to add cookie function and validate function here-->
   <!--right now the validate function isn't running b/c of the href. Where does the function get called for this button?-->
                   <script>randomnum = Math.floor(Math.random()*3)+1
			console.log("randomnum" + randomnum);
			document.write('<a href="../disease/' + randomnum + '" target="challenge1" id="submit"><img src="{{ STATIC_URL }}img/button-small-blue-dark.png" alt="button"/><p><strong>Next ></strong></p></a>')</script>
                </div>
            	<p class="challengeModal-skip">
		   <a class="challengeModal-skip-link" onclick="parent.closeModal()">Skip to the main site.</a></p>
            </div>
        </div>
        <!--end challengeModal2-->

		  <script>
		  $(document).ready(function(){
			//console.log("document ready");
		  $('#challengeModal-begin-link').click(function(){
			  $("#challengeModal1").fadeOut(200);
			  $("#challengeModal2").delay(200).fadeIn(200);
		  });
	 });
	  
  </script>
  <script>	  
	function setCookie(name,age){   //for calc change age to 'years'
	//collect the cookie for Name and Age fields
		$.cookie("eol_challengeName", name , { expires: 1,  path: '/' }); //how do we have the expiration be anytime they return to the start of the challenge?
		cookie = parseInt($.cookie('eol_challengeAge')); //do we need this line?
		var years = 65 - age; //calcs the years
		$.cookie("eol_challengeAge", years, { expires: 1,  path: '/' });
		console.log($.cookie('eol_challengeName'));
		console.log($.cookie('eol_challengeAge'));
		//window.open("/disease/2");
		
	};
  	
  </script>

{% endblock %}
