<!--project template: cease/templates/base.html -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Cease</title>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/cease-main.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/cease-challenge.css" />
 <link href='http://fonts.googleapis.com/css?family=Alike' rel='stylesheet' type='text/css'>

  <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
  <script src="{{ STATIC_URL }}js/jquery1.9.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/challenge.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
</head>
<!--because of iFrames <body> tag starts in the template-->
    {% block content %}
    {% endblock %}
    <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
  <script src="{{ STATIC_URL }}js/foundation/foundation.section.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
  <!--highcharts import below-->
	<script src="{{ STATIC_URL }}js/Highcharts-3.0.1/js/highcharts.js"></script>
	<script src="{{ STATIC_URL }}js/cease-highcharts.js"></script>

 <script>
   $(document).foundation();
 </script>
    
</body>

</html>