<!DOCTYPE html>

<head>
    <title>Validate</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="jquery.validate.js"></script>
<script>
$(document).ready(function() { 
    $("#form1").validate({ 
        rules: { 
            name: "required",
            age: "required",
             
        }, 
    }); 
  });
</script>
</head>


<body> 
    <form id="form1" method="post" action=""> 
      <div>Name: <input type="text" name="name" /></div>
      <div>Age: <input type="text" name="age" /></div>
      <input class="submit" type="submit" value="Submit"></div>
    </form>
</body>